-- MySQL dump 10.13  Distrib 8.4.7, for Linux (x86_64)
--
-- Host: localhost    Database: ride_hailing
-- ------------------------------------------------------
-- Server version	8.4.7

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `ride_hailing`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `ride_hailing` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `ride_hailing`;

--
-- Table structure for table `asignacion_viaje`
--

DROP TABLE IF EXISTS `asignacion_viaje`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asignacion_viaje` (
  `id_viaje` bigint NOT NULL,
  `id_oferta` bigint NOT NULL,
  `id_conductor` bigint NOT NULL,
  `fecha_asignacion` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_viaje`),
  UNIQUE KEY `uk_asignacion_oferta` (`id_oferta`),
  KEY `idx_asignacion_conductor` (`id_conductor`),
  CONSTRAINT `fk_asignacion_conductor` FOREIGN KEY (`id_conductor`) REFERENCES `conductor` (`id_usuario`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_asignacion_oferta` FOREIGN KEY (`id_oferta`) REFERENCES `oferta` (`id_oferta`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_asignacion_viaje` FOREIGN KEY (`id_viaje`) REFERENCES `viaje` (`id_viaje`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asignacion_viaje`
--

LOCK TABLES `asignacion_viaje` WRITE;
/*!40000 ALTER TABLE `asignacion_viaje` DISABLE KEYS */;
INSERT INTO `asignacion_viaje` VALUES (1,1,5,'2026-04-25 18:00:24'),(2,4,6,'2026-04-25 18:00:24'),(5,8,8,'2026-04-25 18:00:24');
/*!40000 ALTER TABLE `asignacion_viaje` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auditoria`
--

DROP TABLE IF EXISTS `auditoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auditoria` (
  `id_auditoria` bigint NOT NULL AUTO_INCREMENT,
  `tabla_afectada` varchar(50) NOT NULL,
  `id_registro` bigint NOT NULL,
  `accion` varchar(20) NOT NULL,
  `descripcion` varchar(255) NOT NULL,
  `usuario_mysql` varchar(100) NOT NULL,
  `fecha` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_auditoria`),
  KEY `idx_auditoria_fecha` (`fecha`),
  KEY `idx_auditoria_tabla` (`tabla_afectada`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditoria`
--

LOCK TABLES `auditoria` WRITE;
/*!40000 ALTER TABLE `auditoria` DISABLE KEYS */;
/*!40000 ALTER TABLE `auditoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company`
--

DROP TABLE IF EXISTS `company`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `company` (
  `id_company` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(120) NOT NULL,
  `nif` varchar(20) NOT NULL,
  `email_contacto` varchar(120) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_company`),
  UNIQUE KEY `uk_company_nif` (`nif`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company`
--

LOCK TABLES `company` WRITE;
/*!40000 ALTER TABLE `company` DISABLE KEYS */;
INSERT INTO `company` VALUES (1,'Madrid Mobility','B10000001','contacto@madridmobility.es','2026-04-25 18:00:24','2026-04-25 18:00:24'),(2,'Urban Cars','B10000002','info@urbancars.es','2026-04-25 18:00:24','2026-04-25 18:00:24');
/*!40000 ALTER TABLE `company` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conductor`
--

DROP TABLE IF EXISTS `conductor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conductor` (
  `id_usuario` bigint NOT NULL,
  `id_company` bigint NOT NULL,
  `nif` varchar(20) NOT NULL,
  `licencia` varchar(50) NOT NULL,
  `valoracion` decimal(3,2) NOT NULL DEFAULT '5.00',
  `disponible` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id_usuario`),
  KEY `fk_conductor_company` (`id_company`),
  CONSTRAINT `fk_conductor_company` FOREIGN KEY (`id_company`) REFERENCES `company` (`id_company`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_conductor_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conductor`
--

LOCK TABLES `conductor` WRITE;
/*!40000 ALTER TABLE `conductor` DISABLE KEYS */;
INSERT INTO `conductor` VALUES (5,1,'11111111A','LIC-001',4.90,1),(6,1,'22222222B','LIC-002',4.70,1),(7,1,'33333333C','LIC-003',4.60,1),(8,2,'44444444D','LIC-004',4.85,1),(9,2,'55555555E','LIC-005',4.50,1),(10,2,'66666666F','LIC-006',4.40,0);
/*!40000 ALTER TABLE `conductor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `oferta`
--

DROP TABLE IF EXISTS `oferta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `oferta` (
  `id_oferta` bigint NOT NULL AUTO_INCREMENT,
  `id_viaje` bigint NOT NULL,
  `id_conductor` bigint NOT NULL,
  `estado` enum('pendiente','aceptada','rechazada','caducada') NOT NULL DEFAULT 'pendiente',
  `precio_ofertado` decimal(10,2) NOT NULL,
  `fecha_envio` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `fecha_decision` datetime DEFAULT NULL,
  PRIMARY KEY (`id_oferta`),
  UNIQUE KEY `uk_oferta_viaje_conductor` (`id_viaje`,`id_conductor`),
  KEY `idx_oferta_viaje_estado` (`id_viaje`,`estado`),
  KEY `idx_oferta_conductor_estado` (`id_conductor`,`estado`),
  CONSTRAINT `fk_oferta_conductor` FOREIGN KEY (`id_conductor`) REFERENCES `conductor` (`id_usuario`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_oferta_viaje` FOREIGN KEY (`id_viaje`) REFERENCES `viaje` (`id_viaje`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_oferta_precio` CHECK ((`precio_ofertado` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `oferta`
--

LOCK TABLES `oferta` WRITE;
/*!40000 ALTER TABLE `oferta` DISABLE KEYS */;
/*!40000 ALTER TABLE `oferta` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_oferta_auditoria_insert` AFTER INSERT ON `oferta` FOR EACH ROW BEGIN
  -- Permite reconstruir a qu├® conductor se despach├│ cada oferta.
  INSERT INTO auditoria (tabla_afectada, id_registro, accion, descripcion, usuario_mysql)
  VALUES ('oferta', NEW.id_oferta, 'INSERT', CONCAT('Oferta enviada al conductor ', NEW.id_conductor), USER());
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `pago`
--

DROP TABLE IF EXISTS `pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pago` (
  `id_pago` bigint NOT NULL AUTO_INCREMENT,
  `id_viaje` bigint NOT NULL,
  `id_conductor` bigint NOT NULL,
  `importe` decimal(10,2) NOT NULL,
  `metodo` enum('tarjeta','efectivo') NOT NULL DEFAULT 'tarjeta',
  `estado` enum('pendiente','pagado','fallido') NOT NULL DEFAULT 'pendiente',
  `fecha_pago` datetime DEFAULT NULL,
  PRIMARY KEY (`id_pago`),
  UNIQUE KEY `uk_pago_viaje` (`id_viaje`),
  KEY `idx_pago_conductor` (`id_conductor`),
  CONSTRAINT `fk_pago_conductor` FOREIGN KEY (`id_conductor`) REFERENCES `conductor` (`id_usuario`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_pago_viaje` FOREIGN KEY (`id_viaje`) REFERENCES `viaje` (`id_viaje`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_pago_importe` CHECK ((`importe` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pago`
--

LOCK TABLES `pago` WRITE;
/*!40000 ALTER TABLE `pago` DISABLE KEYS */;
INSERT INTO `pago` VALUES (1,1,5,14.50,'tarjeta','pagado','2026-04-20 09:36:00'),(2,2,6,11.90,'tarjeta','pagado','2026-04-20 10:30:00');
/*!40000 ALTER TABLE `pago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rider`
--

DROP TABLE IF EXISTS `rider`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rider` (
  `id_usuario` bigint NOT NULL,
  `viajes_totales` int NOT NULL,
  `valoracion` decimal(3,2) DEFAULT '5.00',
  PRIMARY KEY (`id_usuario`),
  CONSTRAINT `fk_rider_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rider`
--

LOCK TABLES `rider` WRITE;
/*!40000 ALTER TABLE `rider` DISABLE KEYS */;
INSERT INTO `rider` VALUES (1,2,4.80),(2,1,4.60),(3,3,4.90),(4,0,4.70);
/*!40000 ALTER TABLE `rider` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `id_usuario` bigint NOT NULL AUTO_INCREMENT,
  `email` varchar(120) NOT NULL,
  `telefono` varchar(20) NOT NULL,
  `nombre` varchar(120) NOT NULL,
  `apellido` varchar(120) NOT NULL,
  `fecha_alta` date NOT NULL DEFAULT (curdate()),
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `uk_usuario_email` (`email`),
  UNIQUE KEY `uk_usuario_telefono` (`telefono`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `v_ingresos_company`
--

DROP TABLE IF EXISTS `v_ingresos_company`;
/*!50001 DROP VIEW IF EXISTS `v_ingresos_company`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_ingresos_company` AS SELECT 
 1 AS `id_company`,
 1 AS `company`,
 1 AS `viajes_pagados`,
 1 AS `ingresos`,
 1 AS `euros_km`,
 1 AS `euros_minuto`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_ingresos_conductor`
--

DROP TABLE IF EXISTS `v_ingresos_conductor`;
/*!50001 DROP VIEW IF EXISTS `v_ingresos_conductor`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_ingresos_conductor` AS SELECT 
 1 AS `id_conductor`,
 1 AS `nombre`,
 1 AS `apellido`,
 1 AS `viajes_pagados`,
 1 AS `ingresos`,
 1 AS `euros_km`,
 1 AS `euros_minuto`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_tasa_aceptacion_company`
--

DROP TABLE IF EXISTS `v_tasa_aceptacion_company`;
/*!50001 DROP VIEW IF EXISTS `v_tasa_aceptacion_company`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_tasa_aceptacion_company` AS SELECT 
 1 AS `id_company`,
 1 AS `company`,
 1 AS `ofertas_recibidas`,
 1 AS `ofertas_aceptadas`,
 1 AS `tasa_aceptacion`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_tasa_aceptacion_conductor`
--

DROP TABLE IF EXISTS `v_tasa_aceptacion_conductor`;
/*!50001 DROP VIEW IF EXISTS `v_tasa_aceptacion_conductor`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_tasa_aceptacion_conductor` AS SELECT 
 1 AS `id_conductor`,
 1 AS `nombre`,
 1 AS `apellido`,
 1 AS `ofertas_recibidas`,
 1 AS `ofertas_aceptadas`,
 1 AS `tasa_aceptacion`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_viajes_detalle`
--

DROP TABLE IF EXISTS `v_viajes_detalle`;
/*!50001 DROP VIEW IF EXISTS `v_viajes_detalle`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_viajes_detalle` AS SELECT 
 1 AS `id_viaje`,
 1 AS `estado`,
 1 AS `fecha_solicitud`,
 1 AS `fecha_inicio`,
 1 AS `fecha_fin`,
 1 AS `km`,
 1 AS `precio`,
 1 AS `rider_nombre`,
 1 AS `conductor_nombre`,
 1 AS `company`,
 1 AS `matricula`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `vehiculo`
--

DROP TABLE IF EXISTS `vehiculo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehiculo` (
  `id_vehiculo` bigint NOT NULL AUTO_INCREMENT,
  `id_conductor` bigint NOT NULL,
  `matricula` varchar(12) NOT NULL,
  `marca` varchar(50) NOT NULL,
  `modelo` varchar(50) NOT NULL,
  `plazas` int NOT NULL DEFAULT '4',
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_vehiculo`),
  UNIQUE KEY `uk_vehiculo_matricula` (`matricula`),
  KEY `idx_vehiculo_conductor` (`id_conductor`),
  CONSTRAINT `fk_vehiculo_conductor` FOREIGN KEY (`id_conductor`) REFERENCES `conductor` (`id_usuario`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_vehiculo_plazas` CHECK ((`plazas` between 1 and 8))
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehiculo`
--

LOCK TABLES `vehiculo` WRITE;
/*!40000 ALTER TABLE `vehiculo` DISABLE KEYS */;
INSERT INTO `vehiculo` VALUES (1,5,'1111AAA','Toyota','Corolla',4,1),(2,6,'2222BBB','Hyundai','Ioniq',4,1),(3,7,'3333CCC','Kia','Niro',4,1),(4,8,'4444DDD','Seat','Leon',4,1),(5,9,'5555EEE','Renault','Megane',4,1),(6,10,'6666FFF','Skoda','Octavia',4,0);
/*!40000 ALTER TABLE `vehiculo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `viaje`
--

DROP TABLE IF EXISTS `viaje`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `viaje` (
  `id_viaje` bigint NOT NULL AUTO_INCREMENT,
  `id_rider` bigint NOT NULL,
  `id_conductor` bigint DEFAULT NULL,
  `id_vehiculo` bigint DEFAULT NULL,
  `origen_lat` decimal(9,6) NOT NULL,
  `origen_lon` decimal(9,6) NOT NULL,
  `destino_lat` decimal(9,6) NOT NULL,
  `destino_lon` decimal(9,6) NOT NULL,
  `estado` enum('solicitado','aceptado','en_curso','finalizado','cancelado') NOT NULL DEFAULT 'solicitado',
  `fecha_solicitud` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `fecha_aceptacion` datetime DEFAULT NULL,
  `fecha_inicio` datetime DEFAULT NULL,
  `fecha_fin` datetime DEFAULT NULL,
  `km` decimal(8,2) DEFAULT NULL,
  `precio` decimal(10,2) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_viaje`),
  KEY `idx_viaje_rider` (`id_rider`),
  KEY `idx_viaje_conductor` (`id_conductor`),
  KEY `idx_viaje_estado_fecha` (`estado`,`fecha_solicitud`),
  KEY `fk_viaje_vehiculo` (`id_vehiculo`),
  CONSTRAINT `fk_viaje_conductor` FOREIGN KEY (`id_conductor`) REFERENCES `conductor` (`id_usuario`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_viaje_rider` FOREIGN KEY (`id_rider`) REFERENCES `rider` (`id_usuario`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_viaje_vehiculo` FOREIGN KEY (`id_vehiculo`) REFERENCES `vehiculo` (`id_vehiculo`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_viaje_km` CHECK (((`km` is null) or (`km` >= 0))),
  CONSTRAINT `chk_viaje_precio` CHECK (((`precio` is null) or (`precio` >= 0)))
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `viaje`
--

LOCK TABLES `viaje` WRITE;
/*!40000 ALTER TABLE `viaje` DISABLE KEYS */;
/*!40000 ALTER TABLE `viaje` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_viaje_auditoria_update` AFTER UPDATE ON `viaje` FOR EACH ROW BEGIN
  -- Solo audita cambios de estado para evitar ruido por otras columnas.
  IF OLD.estado <> NEW.estado THEN
    INSERT INTO auditoria (tabla_afectada, id_registro, accion, descripcion, usuario_mysql)
    VALUES ('viaje', NEW.id_viaje, 'UPDATE', CONCAT('Cambio de estado: ', OLD.estado, ' -> ', NEW.estado), USER());
  END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Dumping routines for database 'ride_hailing'
--
/*!50003 DROP PROCEDURE IF EXISTS `sp_aceptar_oferta` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_aceptar_oferta`(IN p_id_oferta BIGINT)
BEGIN
  -- Variables de trabajo para mantener la decisi├│n dentro de una ├║nica transacci├│n.
  DECLARE v_id_viaje BIGINT;
  DECLARE v_id_conductor BIGINT;
  DECLARE v_estado_viaje VARCHAR(20);
  DECLARE v_precio DECIMAL(10,2);

  -- Ante cualquier error se revierte todo y no queda media asignaci├│n aplicada.
  DECLARE EXIT HANDLER FOR SQLEXCEPTION
  BEGIN
    ROLLBACK;
    RESIGNAL;
  END;

  START TRANSACTION;

  -- FOR UPDATE evita que otra sesi├│n acepte otra oferta del mismo viaje a la vez.
  SELECT o.id_viaje, o.id_conductor, v.estado, o.precio_ofertado
    INTO v_id_viaje, v_id_conductor, v_estado_viaje, v_precio
  FROM oferta o
  JOIN viaje v ON v.id_viaje = o.id_viaje
  WHERE o.id_oferta = p_id_oferta
    AND o.estado = 'pendiente'
  FOR UPDATE;

  IF v_estado_viaje <> 'solicitado' THEN
    SIGNAL SQLSTATE '45000'
      SET MESSAGE_TEXT = 'El viaje ya no est├í disponible';
  END IF;

  -- Deja trazabilidad expl├¡cita de qu├® oferta fue la ganadora del viaje.
  INSERT INTO asignacion_viaje (id_viaje, id_oferta, id_conductor)
  VALUES (v_id_viaje, p_id_oferta, v_id_conductor);

  UPDATE oferta
  SET estado = 'aceptada', fecha_decision = NOW()
  WHERE id_oferta = p_id_oferta;

  UPDATE oferta
  SET estado = 'caducada', fecha_decision = NOW()
  WHERE id_viaje = v_id_viaje
    AND id_oferta <> p_id_oferta
    AND estado = 'pendiente';

  -- El precio definitivo del viaje queda fijado con la oferta aceptada.
  UPDATE viaje
  SET estado = 'aceptado',
      id_conductor = v_id_conductor,
      fecha_aceptacion = NOW(),
      precio = v_precio
  WHERE id_viaje = v_id_viaje;

  COMMIT;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Current Database: `ride_hailing`
--

USE `ride_hailing`;

--
-- Final view structure for view `v_ingresos_company`
--

/*!50001 DROP VIEW IF EXISTS `v_ingresos_company`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_ingresos_company` AS select `co`.`id_company` AS `id_company`,`co`.`nombre` AS `company`,count(`p`.`id_pago`) AS `viajes_pagados`,coalesce(sum(`p`.`importe`),0) AS `ingresos`,round(coalesce((sum(`p`.`importe`) / nullif(sum(`v`.`km`),0)),0),2) AS `euros_km`,round(coalesce((sum(`p`.`importe`) / nullif(sum(timestampdiff(MINUTE,`v`.`fecha_inicio`,`v`.`fecha_fin`)),0)),0),2) AS `euros_minuto` from (((`company` `co` join `conductor` `c` on((`c`.`id_company` = `co`.`id_company`))) left join `pago` `p` on(((`p`.`id_conductor` = `c`.`id_usuario`) and (`p`.`estado` = 'pagado')))) left join `viaje` `v` on((`v`.`id_viaje` = `p`.`id_viaje`))) group by `co`.`id_company`,`co`.`nombre` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_ingresos_conductor`
--

/*!50001 DROP VIEW IF EXISTS `v_ingresos_conductor`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_ingresos_conductor` AS select `c`.`id_usuario` AS `id_conductor`,`u`.`nombre` AS `nombre`,`u`.`apellido` AS `apellido`,count(`p`.`id_pago`) AS `viajes_pagados`,coalesce(sum(`p`.`importe`),0) AS `ingresos`,round(coalesce((sum(`p`.`importe`) / nullif(sum(`v`.`km`),0)),0),2) AS `euros_km`,round(coalesce((sum(`p`.`importe`) / nullif(sum(timestampdiff(MINUTE,`v`.`fecha_inicio`,`v`.`fecha_fin`)),0)),0),2) AS `euros_minuto` from (((`conductor` `c` join `usuario` `u` on((`u`.`id_usuario` = `c`.`id_usuario`))) left join `pago` `p` on(((`p`.`id_conductor` = `c`.`id_usuario`) and (`p`.`estado` = 'pagado')))) left join `viaje` `v` on((`v`.`id_viaje` = `p`.`id_viaje`))) group by `c`.`id_usuario`,`u`.`nombre`,`u`.`apellido` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_tasa_aceptacion_company`
--

/*!50001 DROP VIEW IF EXISTS `v_tasa_aceptacion_company`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_tasa_aceptacion_company` AS select `co`.`id_company` AS `id_company`,`co`.`nombre` AS `company`,count(`o`.`id_oferta`) AS `ofertas_recibidas`,sum((`o`.`estado` = 'aceptada')) AS `ofertas_aceptadas`,round(((100 * sum((`o`.`estado` = 'aceptada'))) / nullif(count(`o`.`id_oferta`),0)),2) AS `tasa_aceptacion` from ((`company` `co` join `conductor` `c` on((`c`.`id_company` = `co`.`id_company`))) left join `oferta` `o` on((`o`.`id_conductor` = `c`.`id_usuario`))) group by `co`.`id_company`,`co`.`nombre` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_tasa_aceptacion_conductor`
--

/*!50001 DROP VIEW IF EXISTS `v_tasa_aceptacion_conductor`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_tasa_aceptacion_conductor` AS select `c`.`id_usuario` AS `id_conductor`,`u`.`nombre` AS `nombre`,`u`.`apellido` AS `apellido`,count(`o`.`id_oferta`) AS `ofertas_recibidas`,sum((`o`.`estado` = 'aceptada')) AS `ofertas_aceptadas`,round(((100 * sum((`o`.`estado` = 'aceptada'))) / nullif(count(`o`.`id_oferta`),0)),2) AS `tasa_aceptacion` from ((`conductor` `c` join `usuario` `u` on((`u`.`id_usuario` = `c`.`id_usuario`))) left join `oferta` `o` on((`o`.`id_conductor` = `c`.`id_usuario`))) group by `c`.`id_usuario`,`u`.`nombre`,`u`.`apellido` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_viajes_detalle`
--

/*!50001 DROP VIEW IF EXISTS `v_viajes_detalle`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_viajes_detalle` AS select `v`.`id_viaje` AS `id_viaje`,`v`.`estado` AS `estado`,`v`.`fecha_solicitud` AS `fecha_solicitud`,`v`.`fecha_inicio` AS `fecha_inicio`,`v`.`fecha_fin` AS `fecha_fin`,`v`.`km` AS `km`,`v`.`precio` AS `precio`,`ur`.`nombre` AS `rider_nombre`,`uc`.`nombre` AS `conductor_nombre`,`co`.`nombre` AS `company`,`ve`.`matricula` AS `matricula` from ((((((`viaje` `v` join `rider` `r` on((`r`.`id_usuario` = `v`.`id_rider`))) join `usuario` `ur` on((`ur`.`id_usuario` = `r`.`id_usuario`))) left join `conductor` `c` on((`c`.`id_usuario` = `v`.`id_conductor`))) left join `usuario` `uc` on((`uc`.`id_usuario` = `c`.`id_usuario`))) left join `company` `co` on((`co`.`id_company` = `c`.`id_company`))) left join `vehiculo` `ve` on((`ve`.`id_vehiculo` = `v`.`id_vehiculo`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-26 17:38:11
